h5{
  color:white;
  font-size:108px;
}

h6{
  color:gray;
  fontsize:12px;
}
.content {
     width: 100%;
     overflow-x: scroll; 
     overflow-y: hidden;
     border-radius: 4px;
 }
 .content::-webkit-scrollbar {
     display:none
 } 
 .content-list{
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     float: left; 
     min-width: 100%;
 }
 .item {
     width: 150px;
     height: 50px;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     flex: 3;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 0 10px;
 }
